.button {
    font-family: inherit;
    box-sizing: border-box;
    padding: 13px 12px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #000 50%, #00ff00 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position .2s ease-out, color .2s ease-out;
}

.button:hover {
    background-position: left bottom;
    color: #fff;

}

.text {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}